services:
  opencp-api:
    build:
      context: ./
      dockerfile: Dockerfile
    container_name: opencp-api
    depends_on:
      redis:
        condition: service_started
    volumes:
      - ./src:/app/src
    env_file:
      - .env
    ports:
      - "8880:8000"

  redis:
    image: redis:7.0
    container_name: redis
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - ./data/redis:/data

  database:
    image: docker.io/library/postgres:latest
    container_name: postgres
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_KC_USER=${POSTGRES_KC_USER}
      - POSTGRES_KC_PASSWORD=${POSTGRES_KC_PASSWORD}
    volumes:
      - ${POSTGRES_DATABASE_DIRECTORY}:/var/lib/postgresql/data
      - ./sql:/docker-entrypoint-initdb.d
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U keycloak" ]
      interval: 5s
      timeout: 3s
      retries: 5

  kc-config:
    build:
      context: ./kc
    depends_on:
      auth:
        condition: service_healthy
    container_name: kc-config
    environment:
      - KC_BOOTSTRAP_ADMIN_USERNAME=${KC_BOOTSTRAP_ADMIN_USERNAME}
      - KC_BOOTSTRAP_ADMIN_PASSWORD=${KC_BOOTSTRAP_ADMIN_PASSWORD}
      - KEYCLOAK_REALM=${KEYCLOAK_REALM}
      - KEYCLOAK_URL=${KEYCLOAK_URL}
      - KEYCLOAK_CLIENT_ID=${KEYCLOAK_CLIENT_ID}
    volumes:
      - ./kc:/usr/src
      - ./.shared:/usr/shared

  auth:
    image: quay.io/keycloak/keycloak:latest
    container_name: keycloak
    ports:
      - "8881:8080"
    depends_on:
      database:
        condition: service_healthy
    environment:
      - KC_HEALTH_ENABLED=${KC_HEALTH_ENABLED}
      - KC_BOOTSTRAP_ADMIN_USERNAME=${KC_BOOTSTRAP_ADMIN_USERNAME}
      - KC_BOOTSTRAP_ADMIN_PASSWORD=${KC_BOOTSTRAP_ADMIN_PASSWORD}
      - KC_DB=${KC_DB}
      - KC_DB_URL=${KC_DB_URL}
      - KC_DB_USERNAME=${KC_DB_USERNAME}
      - KC_DB_PASSWORD=${KC_DB_PASSWORD}
      - JDBC_PARAMS=${JDBC_PARAMS}
    command: start-dev
    healthcheck:
      test: [ "CMD-SHELL", "curl", "http://localhost:9000/health/ready" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    ports:
      - "5050:80"
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_DEFAULT_EMAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_DEFAULT_PASSWORD}
