services:
  opencp-api:
    image: opencp/opencp-api:latest
    container_name: opencp-api
    depends_on:
      redis:
        condition: service_started
    volumes:
      - ./src:/app/src
    env_file:
      - .env
    ports:
      - "8880:8000"

  redis:
    image: redis:7.0
    container_name: redis
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - ./data/redis:/data

  database:
    image: postgres:17.6-alpine
    container_name: postgres
    volumes:
      - ${POSTGRES_DATABASE_DIRECTORY}:/var/lib/postgresql/data
      - ./sql:/docker-entrypoint-initdb.d
    env_file:
      - .env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $KEYCLOAK_USER -d $OPENCP_DB"]
      interval: 5s
      timeout: 3s
      retries: 5

  kc-config:
    build:
      context: ./kc
    depends_on:
      auth:
        condition: service_healthy
    container_name: kc-config
    environment:
      - KC_BOOTSTRAP_ADMIN_USERNAME=${KC_BOOTSTRAP_ADMIN_USERNAME}
      - KC_BOOTSTRAP_ADMIN_PASSWORD=${KC_BOOTSTRAP_ADMIN_PASSWORD}
      - KEYCLOAK_REALM=${KEYCLOAK_REALM}
      - KEYCLOAK_URL=${KEYCLOAK_URL}
      - KEYCLOAK_CLIENT_ID=${KEYCLOAK_CLIENT_ID}
      - KC_HTTP_ENABLED=false
    volumes:
      - ./kc:/usr/src
      - ./.shared:/usr/shared

  auth:
    image: quay.io/keycloak/keycloak:25.0
    container_name: keycloak
    ports:
      - "8881:8080"
    depends_on:
      database:
        condition: service_healthy
    environment:
      - KC_DB=${KC_DB}
      - KC_DB_URL=${KC_DB_URL}
      - KC_DB_USERNAME=${KEYCLOAK_USER}
      - KC_DB_PASSWORD=${KEYCLOAK_PASSWORD}
      - KEYCLOAK_ADMIN_PASSWORD=${KC_BOOTSTRAP_ADMIN_PASSWORD}
      - KC_DB_SCHEMA=${KEYCLOAK_SCHEMA}
      - KEYCLOAK_ADMIN=${KC_BOOTSTRAP_ADMIN_USERNAME}
      - KC_HOSTNAME=${KC_HOSTNAME}
      - KC_PROXY=edge
      - KC_HOSTNAME_ADMIN=${KC_HOSTNAME}
      - JDBC_PARAMS='useSsl=false'
      - KC_HTTP_ENABLED=${KC_HTTP_ENABLED}
      - KC_HEALTH_ENABLED=${KC_HEALTH_ENABLED}
      - KC_HOSTNAME_BACKCHANNEL_DYNAMIC=${KC_HOSTNAME_BACKCHANNEL_DYNAMIC}
    command: start-dev
    healthcheck:
      test: [ "CMD-SHELL", "curl", "http://localhost:9000/health/ready" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    ports:
      - "8882:80"
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_DEFAULT_EMAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_DEFAULT_PASSWORD}
